.container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 42px;
  @media only screen and (min-width: 768px) {
    max-width: 768px;
    padding: 0 72px;
  }
  @media only screen and (min-width: 1080px) {
    max-width: 100%;
  }
    @media only screen and (min-width: 1440px) {
    padding: 0 120px;
  }
}

.container.search {
  padding-top: 36px;
  padding-bottom: 32px;
}