.search-form {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.search-input {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding: 8px 16px;
  width: 272px;
  height: 40px;
  border: 1.5px solid #808080;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.search-input:hover {
  border-color: #000;
}

.search-input:focus {
  outline: none;
  border-color: #4e75ff;
}

.search-input::placeholder {
  color: #808080;
}
